<h1>Listing states</h1>

<table>
  <tr>
    <th>Name</th>
    <th>No of Constituencies</th>
  </tr>

<% for state in @states %>
  <tr>
    <td><%=h state.name %></td>
    <td><%=h state.constituencies.count %></td>
    <td><%= link_to 'Show', state %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New state', new_state_path %>
